@import '~antd/lib/style/themes/default.less';


.AllProduct{
    padding: 0 50px 100px 50px;
}
/* header-type */
.AllProduct-header-type{
    height: 40px;
    display: flex;
    align-items: center;
}

.AllProduct-header-type-item{
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 16px;
    cursor: pointer;
}
.AllProduct-header-type-item:hover{
    border-color: #1890ff;
    color: #1890ff;
}
.active-header-type-item{
    border-color: #1890ff;
    color: #1890ff;
}

/* ============================== filter ======================= */
.AllProduct-filter{
    /* border: 1px solid rgba(0,0,0,.25); */
}
.AllProduct-filter-item{
    height: 40px;
    line-height: 40px;
}
.AllProduct-filter-title{
    font-weight: bold;
}
.AllProduct-filter-main{
    /* height: 40px; */
    line-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}
.AllProduct-filter-main-item{
    margin-right: 16px;
    cursor: pointer;
}
.AllProduct-filter-main-item:hover{
    margin-right: 16px;
    cursor: pointer;
}
.active-filter-main-item{
    color: #1890ff;
}
.AllProduct-filter-main-block{
    display: flex;
    align-items: center;
}
.AllProduct-filter-userSelect{
    border: 1px solid #d9d9d9;
    height: 28px;
    line-height: 22px;
    padding: 2px 8px;
    margin: 6px 0;
    margin-right: 16px;
    border-radius: 4px;
}
.AllProduct-filter-userSelect-close{
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
}
.AllProduct-filter-userSelect-close:hover{
    color: #666;
}
.AllProduct-filter-immediate{

}
.AllProduct-filter-userSelect .AllProduct-filter-immediate:last-child{
    display: none;
}

.AllProduct-filter-more{
    font-size: 14px;
    line-height: 40px;
    color: #999;
    cursor: pointer;
}
.AllProduct-filter-more:hover{
    color: #1890ff;
}