.Employee{
    padding: 0 50px 50px;
}
/* 金牌销售 */
.employee-item{
    width: 19%;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin: .5% .5%;
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}



/* 最佳新人 */
