@import '~antd/lib/style/themes/default.less';

/* 重置 评分 颜色 */
.rate-color {
  color: #f43266;
}
/*-------------------======================= Supplier =======================-------------- */
.Supplier {
  .content {
    background: #fff;
  }

  // index
  .index {
    padding: 0 50px 100px 50px;

    /* 首页推介 轮播图 */
    .carousel {
      width: 100%;
      height: 480px;
    }

    .modalCarouselPrev {
      width: 32px;
      height: 32px;
      font-size: 32px;
      color: rgba(255, 255, 255, 0.5);
      /* background-color: rgba(255,255,255,.4); */
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      top: 47%;
      left: 2%;
    }
    .modalCarouselNext {
      width: 32px;
      height: 32px;
      font-size: 32px;
      color: rgba(255, 255, 255, 0.5);
      /* background-color: rgba(255,255,255,.4); */
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      top: 47%;
      right: 2%;
    }
    .modalCarouselPrev:hover,
    .modalCarouselNext:hover {
      color: #fff;
      /* background-color: rgba(255,255,255,.8); */
    }
    .modal-carouselPrev i,
    .modal-carouselNext i {
      vertical-align: top;
    }

    /* 热卖推介 */
    .title {
      width: 100%;
      padding-left: 12px;
      padding-right: 24px;
      margin-top: 24px;
      line-height: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .titleLeft {
      font-size: 16px;
      font-weight: bold;
    }
    .titleRight {
      font-size: 12px;
      cursor: pointer;
    }
    .titleRight:hover {
      color: @primary-color;
    }

    .hot {
    }
    .hot_item {
      height: 130px !important;
      padding: 12px 4px;
    }

    .indexPhotoItem {
      border-radius: 4px;
      cursor: pointer;
    }
    .indexPhotoItem:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    .SupplierIndexPrev {
      width: 32px;
      height: 32px;
      font-size: 32px;
      color: rgba(255, 255, 255, 0.5);
      background: none;
      /* background-color: rgba(255,255,255,.4); */
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      top: 49%;
      left: 1%;
    }
    .SupplierIndexNext {
      width: 32px;
      height: 32px;
      font-size: 32px;
      color: rgba(255, 255, 255, 0.5);
      background: none;
      /* background-color: rgba(255,255,255,.4); */
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      top: 49%;
      right: 1%;
    }
    .SupplierIndexPrev:hover,
    .SupplierIndexNext:hover {
      color: rgba(255, 255, 255, 0.7);
    }

    /* 尾货甩卖 */
    .discount {
      display: flex;
    }

    .discountItem {
      width: 19%;
      height: 100%;
      margin: 0 0.5%;
      border-radius: 4px;
      overflow: hidden;
      cursor: pointer;
    }
    .discountItem:hover {
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
    }
    /* 图片 */
    .discountItemPhoto {
      width: 100%;
      height: 150px;
    }
    .discountItemPhoto img {
    }
    /* 信息 */
    .discountInfo {
      font-size: 12px;
      text-align: left;
    }
    .discountItemProInfo {
      padding: 2px 8px;
      overflow: hidden;
    }
    .discountName {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .originPrice {
      text-decoration: line-through;
    }
    .discountPrice {
      color: #db3232;
    }
  }
}
