.Home{

}

/* 覆盖 menu 样式 */
.Home .ant-menu-dark, .ant-menu-dark .ant-menu-sub{
    background: #4B96E6;
}
.Home .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
    height: 44px;
    background: #6CAFF6;
}
.Home .ant-menu-horizontal{
    height: 44px;
    line-height: 44px;
    /* text-align: left; */
}


/*  */
.home-header{
    height: 80px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}
.home-logo{
    width: 20%;
    height: 100%;
    background: url(/img/logo.png) no-repeat center center;
    background-size: contain;
}
.home-search{
    flex: 1;
    padding: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-search-city{
    height: 32px;
    margin-right: 16px;
}
.home-search-input{
    height: 32px;
    display: flex !important;
}
.home-info{
    width: 25%;
}
.home-info-right-top{
    height: 36px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.home-info-right-top-item{
    padding: 0 12px;
}
.home-info-right-top-item:nth-child(-n+3){
    line-height: 18px;
    border-right: 1px solid rgba(0, 0, 0, .25);
}
.home-info-right-top-item-text{
    cursor: pointer;
}
.home-info-right-top-item-text:hover{
    color: #4B96E6;
}

.home-info-right-btm{
    height: 44px;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
}
.home-info-right-btm-serv{
    margin-right: 16px;
    display: flex;
    align-items: center;
}
.home-info-right-btm-serv .home-header-icon-box{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #59C367;
    margin-right: 8px;
}
.home-info-right-btm-serv i{
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}
.home-info-right-btm-mobile{
    display: flex;
    align-items: center;
}
.home-info-right-btm-mobile .home-header-icon-box{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #F2AC4D;
    margin-right: 8px;
}
.home-info-right-btm-mobile i{
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}

/* -=-=-----------=-=-=-=-=-=-=--=---=-==--home-content=-=-=-==--=-=-=-=-=---=-=---=-=-=- */
.home-content{
    padding: 0 50px;
    background: #fff;
}
/* =============home-content-left===================== */
.home-content-left{

}
.home-content-left-item{
    margin: 12px 0;
}
.home-content-left-img{
    width: 44px;
    height: 44px;
    border-radius: 40%;
}
.home-content-left-text{
    width: 72px;
    margin-left: 16px;
    display: inline-block;
    text-align: left;
}
/* =============home-content-center===================== */


/* =============home-content-right===================== */
.home-content-right{

}
.home-content-left-item{

}
.home-content-left-item-top{
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    font-weight: 500;
    color: #fff;
    background: tomato;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    position: relative;
    overflow: hidden;
}
.bgc-1{
    background: #5DB68A;
}
.bgc-2{
    background: #52B9CA;
}
.bgc-3{
    background: #4CB0EB;
}
.bgc-4{
    background: #7671B3;
}
.bgc-5{
    background: #C370A8;
}
.bgc-6{
    background: #E88C63;
}
.bgc-7{
    background: rgb(243, 1, 162);
}
.home-content-left-item-top-circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(255,255,255,.25);
    position: absolute;
    top: -20px;
    left: -40px;
}
.home-content-left-item-top-step{
    font-size: 10px;
    height: 12px;
    line-height: 12px;
    color: #fff;
    position: absolute;
    top: 5px;
    left: 7px;
}
.home-content-left-item-top-num{
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 8px;
    top: 18px;
}
.home-content-left-item-btm{
    height: 28px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}