.LatestNews{
    padding: 0 50px 50px 50px;
}

/* 动态列表 */
.LatestNews-content{
    text-align: left;
}
.LatestNews-item{
    margin-bottom: 16px;
}
.LatestNews-item-r-t{
    font-size: 16px;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
}
.LatestNews-user{
    font-weight: 500;
    color: #333;
}
.LatestNews-time{
    color: #999;
}
.LatestNews-main{
    color: #999;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* 这两个注释不能干掉,干掉了webpack就不编译这个属性了,在控制台就检查不到了,就GG了 */
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    /* 展开 干掉这个属性就行 */
    -webkit-line-clamp: 2;
}
.LatestNews-main-open{
    color: #999;
}
.LatestNews-imgs{
    display: flex;
}
.LatestNews-imgs-item{
    /* width: 130px; */
    height: 100px;
    margin-right: 24px;
    border-radius: 4px;
    cursor: pointer;
}
.LatestNews-imgs-item:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
}
.LatestNews-img-item{
    border-radius: 4px;
}


/* Modal carousel  样式重置 */
.modal-carousel{
    position: relative;
}
.modal-carousel .ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  background: #364d79;
  overflow: hidden;
}

.modal-carousel .ant-carousel .slick-dots{
    color: #fff;
}   
.modal-carousel-prev{
    width: 32px;
    height: 32px;
    font-size: 32px;
    color: rgba(255,255,255,.5);
    /* background-color: rgba(255,255,255,.4); */
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 47%;
    left: 2%;
}
.modal-carousel-prev:hover,.modal-carousel-next:hover{
    color: #fff;
    /* background-color: rgba(255,255,255,.8); */
}
.modal-carousel-prev i,.modal-carousel-next i{
    vertical-align: top;
}
.modal-carousel-next{
    width: 32px;
    height: 32px;
    font-size: 32px;
    color: rgba(255,255,255,.5);
    /* background-color: rgba(255,255,255,.4); */
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 47%;
    right: 2%;
}