
/* ======------===========----== Rrecommend =====----==========------=== */
.Recommend{
    padding: 0 50px 100px 50px;
}

/* =================== 产品推介 pro-recommend ================== */
.Recommend-pro-recommend{

}
.Recommend-pro-info{

}
.Recommend-pro-info-item{
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 16px;
    overflow: hidden;
}
.Recommend-top{
    margin-bottom: 16px;
    overflow: hidden;
}
.Recommend-pro-info-item:hover{
    box-shadow: 0 2px 20px rgba(0, 0, 0, .25);   
    background: #fff;
}
.Recommend-pro-img-box{
    height: 124px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.Recommend-pro-img{
    width: 100%;
    height: 100px;
}
.Recommend-pro-img-text{
    font-size: 11px;
    width: 100%;
    height: 24px;
    line-height: 22px;
    border: 1px solid #d9d9d9;
    border-radius: 0 0 4px 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.Recommend-pro-r-top{
    display: flex;
    align-items: center;
}

.Recommend-pro-name{
    font-size: 16px;
    line-height: 24px;
}
.Recommend-pro-tag1{
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    background: linear-gradient(to right,#55A8FF,#8DE3FF);
    padding: 0px 8px;
    margin-left: 16px;
    border-radius: 20px;
}
.Recommend-pro-tag2{
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    background: linear-gradient(to right,#FF8932,#FFC55A);
    padding: 0px 8px;
    margin-left: 16px;
    border-radius: 20px;
}
.Recommend-pro-r-center{
    font-size: 12px;
    color: #999;
    text-align: left;
}
.Recommend-pro-r-center-left{
    line-height: 22px;
    padding-right: 8px;
}

.Recommend-pro-r-center-right{
    line-height: 28px;
    padding-left: 8px;
}
.Recommend-pro-th-price{

}
.Recommend-pro-group-date{

}
.Recommend-pro-score{

}
.Recommend-pro-zk-price{

}
.Recommend-pro-hits{
    
}
.Recommend-pro-r-btm{
    height: 32px;
    line-height: 32px;
    clear: both;
}
.Recommend-pro-r-btm-left{
    margin-top: 6px;
    display: flex;
}
.Recommend-pro-r-btm-left > div{
    line-height: 20px;
    color: #55A8FF;
    border: 1px solid #55A8FF;
    border-radius: 20px;
    padding: 0 8px;
    margin-right: 16px;
    cursor: pointer;
}
.Recommend-pro-r-btm-left > div:hover{
    color: #1890FF;
    border: 1px solid #1890FF;
}
/* 折叠的group-list */
.Recommend-pro-group-list-box{
    line-height: 40px;
    clear: both;
}
.Recommend-pro-group-title{
    font-size: 14px;
    background: #F6FAFA;
    padding: 0 16px;
    overflow: hidden;
}
.Recommend-pro-group-list{
    padding: 0 16px;
}
.Recommend-pro-group-list:hover{
    background: #FAFBFC;
}
.Recommend-pro-group-list-main{
    color: #999;
    overflow: hidden;
    border-bottom: 1px dashed #d9d9d9;
}
.Recommend-pro-group-list-btn{
    text-align: right;
    clear: both;
    border-bottom: 1px dashed #d9d9d9;
}


/* =================== 尾货甩卖 pro-discount ================== */
.Recommend-btm{
    clear: both;
}
.Recommend-btm:hover{
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .25);
}
.Recommend-pro-discount{
}
.Recommend-pro-discount-content{
    display: flex;
    justify-content: space-between;
}
.Recommend-pro-discount-item{
    width: 19%;
    height: 100%;
    margin: 0 .5%;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}
.Recommend-pro-discount-item:hover{
    box-shadow: 0 2px 20px rgba(0, 0, 0, .25);
}
/* 图片 */
.Recommend-pro-discount-item-photo{
    width: 100%;
    height: 150px;
}
.Recommend-pro-discount-item-photo img{
}
/* 信息 */
.Recommend-pro-discount-item-pro-info{
    padding: 2px 8px;
    overflow: hidden;
}
.Recommend-discount-info{
    font-size: 12px;
    text-align: left;
}
.Recommend-discount-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Recommend-discount-dep_date{

}

.Recommend-prici-discount{

}
.Recommend-origin-price{
    text-decoration: line-through;
}
.Recommend-discount-price{
    color: #DB3232;
}