


/* 左菜单-右轮播图 模块 */
.Scattered-col{
}
.Scattered-left-form{
    padding: 32px 16px;
    border-radius: 4px;
}
.Scattered-right-carousel{
    width: 100%;
}
.Scattered-input-box{
    margin: 12px 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: nowrap;
}
.Scattered-select-box{

}
.Scattered-submit-box{
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
/* ================= 轮播图模块样式变更 => 专属 Scattered-right-carousel ================= */

.Scattered-right-carousel .ant-carousel{
    width: 100%;
    height: 100%;
}
.Scattered-right-carousel .slick-slider{
    width: 100%;
    height: 100%;
}
.Scattered-right-carousel .slick-list{
    width: 100%;
    height: 100%;
}
.Scattered-right-carousel .slick-track{
    height: 100%
}
.Scattered-right-carousel .slick-slide{
    width: 100%;
    height: 100%;
}
.Scattered-right-carousel .slick-slide div{
    height: 100%;
}

/* ================= ========     左轮播图,右产品信息 ProInfo-header      ======================*/
.ProInfo-header{
    background: #fff;
    border-radius: 6px;
    padding: 24px;
}
/* -------------------------左边轮播图--------------------- */
.ProInfo-left{

}
.ProInfo-left-big{

}
.ProInfo-left-big-item{
    height: 350px;
}
.ProInfo-left-small-box{
    background: #fff;
    border-radius: 4px;
    padding: 6px 0;
    margin-top: 12px;
}
.ProInfo-left-small{
    height: 100px;
}
.ProInfo-left-small-item{
    padding: 0px 6px;
    border-radius: 4px;
    opacity: .5;
}
.ProInfo-left-small-item-active{
    opacity: 1;
}
.ProInfo-left-small-img{
    height: 100%;
}
.ProInfo-right{

}
/* ----------=---------------右边信息------------- ------------*/
.ProInfo-right{
    padding-left: 12px;
}
.ProInfo-right-name{
    font-size: 18px;
    color: #333;
    margin-bottom: 24px;
}
.ProInfo-right-info{
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ProInfo-right-info-item{
    width: 20%;
    padding: 2px 4px;
    border: 1px solid #9FBF4D;
    border-radius: 4px;
    color: #9FBF4D;
}
.ProInfo-right-info-item div{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ProInfo-right-detail{
    font-size: 13px;
    text-align: left;
    line-height: 40px;
    margin-left: 12px;
    margin-top: 24px;
}
.ProInfo-right-detail-item{

}
.ProInfo-right-detail-title{
    color: #999;
    width: 72px;
    display: inline-block;
}
.ProInfo-right-detail-main{
    
}
.ProInfo-right-detail-main strong{
    font-size: 18px;
    font-weight: normal;
    color: #D74B4B;
}
/* -----------------------如果有预定 ---------------------- */
.ProInfo-num{
    clear: both;
    overflow: hidden;
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid #DEE4EA;
}
/* 左边 */
.ProInfo-num-left{
    height: 40px;
    line-height: 40px;
    padding: 0 100px;
    display: flex;
}
.ProInfo-num-left-Adult{
    /* width: 175px; */
    width: 50%;
}
.ProInfo-num-left-Children{
    /* width: 175px; */
    width: 50%;
}
/* 右边 */
.ProInfo-num-right{
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}
.ProInfo-num-right-price{
    color: #D74B4B;
}
.ProInfo-num-right-price span{
    font-size: 20px;
    font-weight: bold;
}
.ProInfo-num-right-Reserve{
    font-size: 17px;
    margin: 0 20px;
    width: 150px;
    height: 40px;
    background: #D74B4B;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

/* ============================= 时间/人数 预定按钮 DateAndNumReserve ============================= */
.DateAndNumReserve{
    clear: both;
    overflow: hidden;
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid #DEE4EA;
}
/* left */
.DateAndNumReserve-num-left{
    height: 40px;
    line-height: 40px;
    display: flex;
    text-align: left;
}
.DateAndNumReserve-num-left-date{
    width: 35%;
    white-space: nowrap;
}
.DateAndNumReserve-num-left-Adult{
    width: 25%;
    text-align: center;
}
.DateAndNumReserve-num-left-Children{
    width: 45%;
}
.DateAndNumReserve-num-left-Children span{
    color: #F0AB26;
}

/* right */
.DateAndNumReserve-num-right{
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}
.DateAndNumReserve-num-right-price{
    color: #D74B4B;
}
.DateAndNumReserve-num-right-price span{
    font-size: 20px;
    font-weight: bold;
}
.DateAndNumReserve-num-right-Reserve{
    font-size: 17px;
    margin: 0 20px;
    width: 150px;
    height: 40px;
    background: #D74B4B;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}


/* ============================== NormalRegimentPro-calendar(常规团产品详情) ============================= */

.NormalRegimentPro-calendar{
    padding: 24px;
    border-radius: 4px;
    background: #fff;
}
.NormalRegimentPro-calendar-left{
    padding-right: 12px;
}
.NormalRegimentPro-calendar-right{
    padding-left: 12px;
}
.NormalRegimentPro-calendar-reserve{
    clear: both;
}


/* ============================  散房 产品详情 =RoomstatusAndPrice   =========================== */
.RoomstatusAndPrice{
    padding: 24px;
    overflow: hidden;
}
/* 顶部 时间选择部分 */
.RoomstatusAndPrice-title{
    line-height: 48px;
    font-size: 18px;
    color: #333;
    text-align: left;
}
.RoomstatusAndPrice-date{
    padding: 12px 0;
    /* margin-bottom: 24px; */
    border-bottom: 1px solid #DEE4EA;
    overflow: hidden;
}
.RoomstatusAndPrice-date-btn{
    width: 140px;
}
/* 中间表格部分 */

.RoomstatusAndPrice-info{

}
.RoomstatusAndPrice-info-dateMore{
    cursor: pointer;
}
.RoomstatusAndPrice-info-dateMore .dateMore-open{
    transform: rotate(90deg);
}
.RoomstatusAndPrice-info-dateMore .dateMore-fold{
    transform: rotate(-90deg);
}
.RoomstatusAndPrice-info-dateMore:hover{
    color: #2D9DFF;
    background: #fbfbfb;
}
.RoomstatusAndPrice-info-box{
    padding: 16px 32px;
    margin: 24px;
    box-shadow: 1px 1px 10px #ccc;
    border-radius: 4px;
}
.RoomstatusAndPrice-info-header{
    font-size: 16px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
}
.RoomstatusAndPrice-info-header span i{
    margin-left: 24px;
    font-style: normal;
}
.RoomstatusAndPrice-info-header-more{
    font-size: 13px;
}
.RoomstatusAndPrice-info-content{

}
.RoomstatusAndPrice-info-title{
    height: 40px;
    line-height: 40px;
    background: #F6FAFA;
    display: flex;
    justify-content: space-between;
}
.RoomstatusAndPrice-info-main{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed #DEE4EA;
    display: flex;
    justify-content: space-between;
}
.RoomstatusAndPrice-info-main > div{
    padding: 0 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/* 底部预定按钮 */
.RoomstatusAndPrice-reserve{
    clear: both;
    overflow: hidden;
    padding-top: 16px;
    margin-top: 24px;
    border-top: 1px solid #DEE4EA;
    display: flex;
    align-items: center;
}
.RoomstatusAndPrice-reserve-left{
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
}
.RoomstatusAndPrice-reserve-left-info{
    /* width: 98px; */
    min-width: 98px;
    font-size: 13px;
    border: 1px solid #d9d9d9;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 8px 16px 8px 0;
}
.RoomstatusAndPrice-reserve-left-info-date{

}
.RoomstatusAndPrice-reserve-left-info-type{

}
.RoomstatusAndPrice-reserve-right{
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}
.RoomstatusAndPrice-reserve-right-price{
    color: #D74B4B;
}
.RoomstatusAndPrice-reserve-right-price span {
    font-size: 20px;
    font-weight: bold;
}
.RoomstatusAndPrice-reserve-right-Reserve{
    font-size: 17px;
    margin: 0 20px;
    width: 150px;
    height: 40px;
    background: #D74B4B;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}


/* ===================================== 单机票 ScheduleAndPrice 机票散卖 ========================================*/
.ScheduleAndPrice{
    padding: 0 32px 24px;
    overflow: hidden;
}
/* 标题 */
.ScheduleAndPrice-title{
    line-height: 72px;
    font-size: 18px;
    color: #333;
    text-align: left;
}

/* 表格 */
.ScheduleAndPrice-table{
    overflow: hidden;
}
.ScheduleAndPrice-table-title{
    line-height: 48px;
    color: #333;
    background: #F6FAFA;
    overflow: hidden;
}
.ScheduleAndPrice-table-main{
    overflow: hidden;
}
.ScheduleAndPrice-table-main-top{
    color: #999;
    line-height: 40px;
    overflow: hidden;
}
.ScheduleAndPrice-table-main-top-total{
    color: #2D9DFF;
}
.ScheduleAndPrice-table-main-top-Surplus{
    color: #D74B4B;
}
.ScheduleAndPrice-table-main-btm{
    color: #333;
    line-height: 40px;
    background: #F6FAFA;
    overflow: hidden;
}


/* 预定按钮 */
.ScheduleAndPrice-reserve{

}