.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 通用 class */

/* padding */
.p-0{
  padding: 0 !important;
}
.m-0{
  margin: 0 !important;
}

.m-btm-16{
  margin-bottom: 16px;
}
.m-top-16{
  margin-top: 16px;
}



/* flex */
.d-f{
  display: flex !important;
}
.d-f-j-sb{
  display: flex !important;
  justify-content: space-between !important;
}
.d-f-j-sa{
  display: flex !important;
  justify-content: space-around !important;
}
.d-f-a-c{
  display: flex !important;
  align-items: center !important;
}
.d-f-c{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* img */
.img-size{
  width: 100%;
  height: 100%;
}
.img-initial{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
/* text */
.imp-text{
  font-size: 14px;
  font-weight: bold;
  color: rgba(233, 13, 13, 0.986);
}
/* text-align */
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}.text-right{
  text-align: right;
}
/* hide */
.hide{
  display: none !important;
}

/* 阴影 */
.box-shadow{
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
}
/* mod 间距 */
.mod{
  margin-top: 32px;
  background: #fff;
  border-radius: 4px;
}

/* w h */
.w-20{
  width: 20%;
}
.w-25{
  width: 25%;
}

/* 多行文本省略 */
.text-overflow{
    overflow : hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cursor{
  cursor: pointer;
}
.opcity0{
  opacity: 0;
}
.border-radius{
  border-radius: 4px;
}
.pointer{
  cursor: pointer;
}

.text-overflow-2{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* 这两个注释不能干掉,干掉了webpack就不编译这个属性了,在控制台就检查不到了,就GG了 */
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    /* 展开 干掉这个属性就行 */
    -webkit-line-clamp: 2;
}
.text-overflow-3{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* 这两个注释不能干掉,干掉了webpack就不编译这个属性了,在控制台就检查不到了,就GG了 */
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    /* 展开 干掉这个属性就行 */
    -webkit-line-clamp: 3;
}
.text-overflow-4{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* 这两个注释不能干掉,干掉了webpack就不编译这个属性了,在控制台就检查不到了,就GG了 */
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    /* 展开 干掉这个属性就行 */
    -webkit-line-clamp: 4;
}



/* ==========================================全局 覆盖 antd 样式============================================= */
/* antd dropdown(下拉列表)  样式覆盖 (添加最大高度 300px) */
.ant-dropdown-menu{
    max-height: 300px;
    overflow: auto;
}